<div class="bg-[rgb(15,7,21)] w-full px-5 py-5 flex flex-col items-center gap-[1.5rem] text-[rgb(255,255,255)] overflow-hidden">
    <div 
        class="text-[2.3rem]" 
        [@slideInLeft]="headingInView ? 'visible' : 'hidden'"
        (inView)="onHeadingInView()"
        inView
    >
        <b><i>Show Reel</i></b>
    </div>
    <div 
        [@fadeIn]="contentInView ? 'visible' : 'hidden'" 
        (inView)="onContentInView()"
        inView
        class="bg-white rounded-md w-[17rem] h-[10rem] sm:w-[25rem] sm:h-[14rem] xl:w-[30rem] xl:h-[15.5rem] overflow-auto"
    >
        <img src="assets/images/works/Ae transition 1tumb .png" class="w-full h-full rounded-md" alt="">
    </div>
</div>
