<header class="sticky top-0 sm:fixed w-full z-[1000] " [ngClass]="{'h-screen backdrop-blur-[.3rem] bg-opacity-10 bg-black' : togglePopup}">
    <nav class="pr-5 lg:px-6 relative"> 
        <div class="flex justify-between">
            <div class="flex items-start" [@fadeIn]="headLi ? 'visible' : 'hidden'">
                <img [src]="pencilhub_watermark" class="h-[80px] sm:h-[90px] md:h-[100px] w-[200px] sm:w-[225px] md:w-[250px]" alt="Flowbite Logo" />
            </div>
            <div class="flex items-center" (inView)="headLiView()">
                <button class="inline-flex items-center text-[1.4rem] p-2 ml-1 text-sm lg:hidden outline-none text-gray-300 bg-transparent bg-opacity-0 bg-none">
                    <i class="fa-solid fa-bars" *ngIf="!togglePopup" (click)="onHeaderBar()" [@fadeIn]="headLi ? 'visible' : 'hidden'"></i>
                    <!-- <svg *ngIf="!togglePopup" class="w-8 mt-[7px] h-8 bg-none" (click)="onHeaderBar()" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" [@fadeIn]="headLi ? 'visible' : 'hidden'">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg> -->
                    <i class="fa-solid fa-x" *ngIf="togglePopup" (click)="onHeaderBar()"></i>
                    <!-- <svg *ngIf="togglePopup" (click)="onHeaderBar()" class="w-8 mt-[3px] h-8 bg-none" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg> -->
                </button>
                <div *ngIf="togglePopup" class="lg:hidden absolute top-[4.5rem] right-0 w-screen ">
                    <div (inView)="onInView()" [@slideLeft]="slideInLeftText ? 'visible' : 'hidden'" class="absolute right-0 w-screen max-w-[30rem] bg-black bg-opacity-95 h-screen z-[5] rounded-tl-xl">
                        <div class="w-full h-auto px-5">
    
                            <ul class="flex flex-col gap-5 py-2 px-2 pt-5">
                                <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400 hover:text-gray-200' : !isActive('/')}" [routerLinkActiveOptions]="{ exact : true }">
                                    <a (click)="onHeaderBar()" routerLink="/" class="py-2 px-3">Home</a>
                                </li>
                                <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400' : !isActive('/portfolio')}">
                                    <a (click)="onHeaderBar()" routerLink="/portfolio" class="py-2 px-3">Portfolio</a>
                                </li>
                                <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400' : !isActive('/free-luts')}">
                                    <a (click)="onHeaderBar()" routerLink="/free-luts" class="py-2 px-3">Free Luts</a>
                                </li>
                                <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400' : !isActive('/lr-presets')}">
                                    <a (click)="onHeaderBar()" routerLink="/lr-presets" class="py-2 px-3">Lr Presets</a>
                                </li>
                                <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400' : !isActive('/about-us')}">
                                    <a (click)="onHeaderBar()" routerLink="/about-us" class="py-2 px-3">About Us</a>
                                </li>
                            </ul>
        
                        </div>
                    </div>
                </div>

                <div class="hidden lg:flex justify-center mr-10">
                    <ul class="flex gap-5 py-2 px-2" [@slideLeft]="headLi ? 'visible' : 'hidden'">
                        <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400 hover:text-gray-200' : !isActive('/')}" [routerLinkActiveOptions]="{ exact : true }">
                            <a routerLink="/" class="py-2 pl-3">Home</a>
                        </li>
                        <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400 hover:text-gray-200' : !isActive('/portfolio')}">
                            <a routerLink="/portfolio" class="py-2 pl-3">Portfolio</a>
                        </li>
                        <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400 hover:text-gray-200' : !isActive('/free-luts')}">
                            <a routerLink="/free-luts" class="py-2 pl-3">Free Luts</a>
                        </li>
                        <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400 hover:text-gray-200' : !isActive('/lr-presets')}">
                            <a routerLink="/lr-presets" class="py-2 pl-3">Lr Presets</a>
                        </li>
                        <li [routerLinkActive]="['text-white', 'text-[1.2rem]']" [ngClass]="{'text-gray-400 hover:text-gray-200' : !isActive('/about-us')}">
                            <a routerLink="/about-us" class="py-2 pl-3">About Us</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </nav>
</header>
