<div class="bg-[rgb(15,7,21)] w-full px-5 py-[3rem] sm:py-[5rem] flex flex-col items-center gap-[1.5rem] text-[rgb(255,255,255)] overflow-hidden">
    <div 
        class="text-[2.5rem] sm:text-[3.5rem] "
        [@slideInLeft]="slideLeftAnimation ? 'visible' : 'hidden'"
        (inView)="onHeadInView()"
        inView
    ><b>Recent {{ contentType }}</b></div>
    <div 
        class="flex gap-10 items-center justify-center overflow-hidden"
        [@fadeIn]="slideInBottomText ? 'visible' : 'hidden'"
        (inView)="onSliderInView()"
        inView
    >
        <button (click)="previous()" class="text-[2rem] text-gray-500 rounded-lg active:scale-95">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <div class="flex items-center justify-center w-[59rem] lg_max:w-[45rem] md_max:w-[38rem] overflow-hidden slider_container" >
            <div class="slider-container" *ngIf="contentType === 'Post'">
                <div
                    *ngFor="let post of posts ? posts : []"
                    class="post-card rounded-md hover:cursor-pointer"
                    [ngClass]="{ 'slide-left': slideLeft, 'slide-right': slideRight }">
                    
                    <img *ngIf="post.media_type === 'image'" (click)="redirectToPage(post.link)" [src]="post.sourceUrl" class="w-full h-full rounded-md" alt="{{ post.alt_text }}">

                </div>
            </div>

            <div class="slider-container" *ngIf="contentType === 'Video'">
                    <div
                        *ngFor="let video of videos ? videos : []"
                        class="post-card rounded-md hover:cursor-pointer"
                        [ngClass]="{ 'slide-left': slideLeft, 'slide-right': slideRight }"
                        (click)="onVideoClicked(video.id)"
                    >
                        <img [src]="video.snippet?.thumbnails?.medium?.url" alt="{{ video.snippet?.title }}" class="" >
                    </div>
                
            </div>
        </div>
        <button (click)="next()" class=" text-[2rem] text-gray-500 rounded-lg active:scale-95">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>

<div 
    *ngIf="videoClicked" 
    class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-[999999999]"
    (click)="popupAction()"
>
    <div class="bg-white w-[90%] md:w-[70%] h-auto rounded-lg flex">
        <iframe [src]="clickedVideo" class="w-full h-full min-h-[25rem] md:min-h-[35rem]" frameborder="0"></iframe>
    </div>
</div>