<div class="mt-5 bg-[rgb(15,7,21)] w-full py-5 px-5 text-[rgb(255,255,255)] flex flex-col gap-2 items-center">
    <div class="text-[3.5rem] sm_max:text-[3rem]"><b>Contact {{ info }}</b></div>
    <div class="flex justify-center w-[95%]">Questions, Doubts or Comments? Feel free to write here. We'd love to hear from you</div>
    <div class="flex flex-col items-center gap-2 w-full pt-5">
        <div class="flex gap-2 items-center w-[95%] max-w-[30rem]">
            <input type="text" placeholder="Name" class="w-full border border-[rgb(49,20,71)] outline-none rounded-md px-3 focus:bg-[rgb(24,11,34)] py-1 bg-[rgb(15,7,21)] text-[rgb(255,255,255)]">
        </div>
        <div class="flex gap-2 items-center w-[95%] max-w-[30rem]">
            <input type="email" placeholder="Email" class="w-full border border-[rgb(49,20,71)] outline-none rounded-md px-3 focus:bg-[rgb(24,11,34)] py-1 bg-[rgb(15,7,21)] text-[rgb(255,255,255)]">
        </div>
        <div class="flex gap-2 w-[95%] max-w-[30rem] h-[5rem]">
            <textarea name="" placeholder="Message" class="w-full border border-[rgb(49,20,71)] outline-none rounded-md px-3 focus:bg-[rgb(24,11,34)] py-1 bg-[rgb(15,7,21)] text-[rgb(255,255,255)]"></textarea>
        </div>
        <button class="mt-2 px-5 py-1 rounded-2xl active:scale-95 transition duration-100 ease-in-out" style="background-image: linear-gradient(to right, #762be7, #15053d);">SEND MESSAGE</button>
    </div>
</div>