<div class="bg-[rgb(15,7,21)] w-full px-5 py-5 flex flex-col items-center gap-[1.5rem] text-[rgb(255,255,255)] overflow-hidden">
    <div class="text-[2.3rem]"><b>Recent Works</b></div>
    <div class="w-auto grid gap-10 sm:grid-cols-2 xl:grid-cols-3 place-content-around">
        <div class="h-[10rem] w-[17rem] bg-green-400 rounded-md"></div>
        <div class="h-[10rem] w-[17rem] bg-green-400 rounded-md"></div>
        <div class="h-[10rem] w-[17rem] bg-green-400 rounded-md"></div>
        <div class="h-[10rem] w-[17rem] bg-green-400 rounded-md"></div>
        <div class="h-[10rem] w-[17rem] bg-green-400 rounded-md"></div>
        <div class="h-[10rem] w-[17rem] bg-green-400 rounded-md"></div>
    </div>
</div>