
<div class="h-auto w-full flex flex-col sm:flex-row items-center py-3 sm:bg-layer-one-backround bg-cover bg-center bg-no-repeat">
    <div 
        id="text_div" 
        class="py-2 sm:w-1/2 md:pl-[5%] lg:flex flex-col items-end gap-3" 
        (inView)="onBannerTextInView()"
        inView
    >
        <div class="max-w-[30rem]" [@fadeIn]="slideInLeftText ? 'visible' : 'hidden'">
            <img src="/assets/images/Screenshot_2024-08-17_163937-removebg-preview.png" alt="" class="pl-16 pr-24 py-1">
        </div>
        <div class="">
            <div class="py-2 px-10 text-white text-start font-sans" [@slideInLeft]="slideInLeftText ? 'visible' : 'hidden'">
                Join us to master video and photo editing, from basics to pro-level <br>Let's create something amazing together!
            </div>
            <div class="w-full flex justify-center sm:justify-start pt-2 sm:px-10">
                <button [@slideInBottom]="slideInLeftText ? 'visible' : 'hidden'" class="bg-[rgb(132,78,242)] text-white text-center rounded-[8px] text-[20px] font-serif px-5 py-1 transition ease-in-out active:scale-[.98]">Join us on YouTube!</button>
            </div>
        </div>
    </div>
    <div 
        id="img_div" 
        (inView)="onBannerImageInView()"
        inView 
        class="w-full sm:w-1/2 pt-10 pb-5 flex justify-center bg-layer-one-backround sm:bg-none bg-contain bg-center bg-no-repeat lg:flex lg:justify-start"
    >
        <div class="w-full max-w-[25rem] lg:max-w-[34rem] h-[20rem] lg:h-[22rem] px-12 pt-14 relative" [@slideInRight]="slideInLeftText ? 'visible' : 'hidden'">
            <div [@slideFromCenterAE]="showElements ? 'visible' : 'hidden'" class="bg-after-effect bg-contain bg-center bg-no-repeat h-[3rem] lg:h-[3.5rem] w-[3rem] lg:w-[3.5rem] rotate-[-10deg] absolute top-[51%] lg:top-[53%] left-[7%] lg:left-[12%]"></div>
            <div [@slideFromCenterPS]="showElements ? 'visible' : 'hidden'" class="bg-adobe-photoshop bg-contain bg-center bg-no-repeat h-[4.5rem] lg:h-[5.5rem] w-[4.5rem] lg:w-[5.5rem] rotate-[-10deg] absolute top-[28%] lg:top-[25%] left-[14%] lg:left-[19%]"></div>
            <div [@slideFromCenterME]="showElements ? 'visible' : 'hidden'" class="bg-adobe-media-encounder bg-contain bg-center bg-no-repeat h-[3rem] lg:h-[3.5rem] w-[3rem] lg:w-[3.5rem] rotate-[-10deg] absolute top-[9%] lg:top-[5%] left-[20%] lg:left-[24%]"></div>
            <div [@slideFromCenterLR]="showElements ? 'visible' : 'hidden'" class="bg-light-room bg-contain bg-center bg-no-repeat h-[3rem] lg:h-[4rem] w-[3rem] lg:w-[4rem] rotate-[15deg] absolute top-[3%] lg:top-0 right-[28%] lg:right-[30%]"></div>
            <div [@slideFromCenterAA]="showElements ? 'visible' : 'hidden'" class="bg-adobe-audition bg-contain bg-center bg-no-repeat h-[3rem] lg:h-[3.5rem] w-[3rem] lg:w-[3.5rem] rotate-[10deg] absolute top-[30%] lg:top-[26%] right-[24%] lg:right-[27%]"></div>
            <div [@slideFromCenterAP]="showElements ? 'visible' : 'hidden'" class="bg-adobe-premiere bg-contain bg-center bg-no-repeat h-[4rem] lg:h-[4.7rem] w-[4rem] lg:w-[4.7rem] rotate-[15deg] absolute top-[45%] lg:top-[47%] right-[10%] lg:right-[14%]"></div>
            <img src="/assets/images/Layer-21.png" alt="" class="absolute w-[80%] max-w-[20rem] lg:max-w-[23rem]  h-[90%] lg:h-[100%] top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">
        </div>
    </div>
</div>