<div class="h-[650px] w-[100%] bg-layer-one-backround bg-no-repeat bg-cover flex">
    <div class="h-[100%] w-[45%] px-[270px] py-[150px]">
        <div class="h-[100px] w-[300px] ">
            <img src="/assets/images/Screenshot_2024-08-17_163937-removebg-preview.png" alt="" class="h-[100px] w-[100%]">
        </div>
        <div class="h-[100px] w-[420px] py-[20px] px-[20px]">
            <h1 class="text-white text-start text-[20px] font-sans">Join us to master video and photo editing, from basics to pro-level <br>Let's create something amazing together!</h1>
        </div>
        <div class="py-[20px] px-[20px]">
            <button class="h-[40px] w-[210px] bg-[rgb(132,78,242)] text-white text-center rounded-[8px] text-[20px] font-serif">Join us on YouTube!</button>
        </div>
    </div>
    <div class="h-[100%] w-[43%] relative ">
        <div class="h-[80px] w-[80px] bg-adobe-audition bg-contain bg-center bg-no-repeat absolute left-[130px] top-[50px] rotate-[-20deg]"></div>
        <div class="h-[100px] w-[100px] bg-light-room bg-contain bg-center bg-no-repeat absolute left-[400px] top-[30px] rotate-[30deg]"></div>
        <div class="h-[80px] w-[80px] bg-adobe-media-encounder bg-contain bg-center bg-no-repeat absolute left-[80px] top-[190px] rotate-[-40deg]"></div>
        <img src="/assets/images/Layer-21.png" alt="" class="my-[40px] absolute">
        <div class="h-[80px] w-[80px] bg-after-effect bg-contain bg-center bg-no-repeat absolute left-[450px] top-[170px] rotate-[15deg]"></div>
        <div class="h-[150px] w-[150px] bg-adobe-photoshop bg-contain bg-center bg-no-repeat absolute top-[290px]"></div>
        <div class="h-[100px] w-[100px] bg-adobe-premiere bg-contain bg-center bg-no-repeat absolute left-[500px] top-[300px] rotate-[7deg]"></div>
    </div>
</div>
