<section class="relative bg-black flex flex-col items-center gap-5 text-gray-50 w-full h-auto md:max-h-[740px] px-[3rem] sm:px-[4rem] py-[2rem] sm:py-[5rem]">
    <div class="w-auto text-[2rem] md:text-[2.8rem] font-bold bg-text_gradient bg-clip-text text-transparent">My Skills</div>
    <div class="grid grid-cols-3 sm:grid-flow-col sm:grid-cols-none sm:gap-8 md:gap-12 xl:gap-16 place-items-center">
        <div class="w-16 sm:mr-1 h-16 bg-contain bg-no-repeat bg-center bg-adobe-premiere"></div>
        <div class="w-12 sm:mr-3 h-12 bg-contain bg-no-repeat bg-center bg-after-effect"></div>
        <div class="w-11 sm:mr-3 h-11 bg-contain bg-no-repeat bg-center bg-adobe-audition"></div>
        <div class="w-11 sm:mr-3 h-11 bg-contain bg-no-repeat bg-center bg-adobe-media-encounder"></div>
        <div class="w-14 h-14 bg-contain bg-no-repeat bg-center bg-light-room"></div>
        <div class="w-20 h-20 bg-contain bg-no-repeat bg-center bg-adobe-photoshop"></div>
    </div> 
    <div class="grid grid-cols-2 sm:grid-cols-none sm:grid-flow-col gap-8 sm:gap-16 md:gap-24 xl:gap-32">
        <div class="text-center font-semibold text-[1.5rem]">Videos <br> 250+</div>
        <div class="text-center font-semibold text-[1.5rem]">Subscribers <br> 29.5k</div>
        <div class="text-center font-semibold text-[1.5rem]">Views <br> 2.5M+</div>
        <div class="text-center font-semibold text-[1.5rem]" *ngIf="page">Clients <br> 5+</div>
    </div>
</section> 