<div class="bg-[rgba(15,7,21,0)] w-full px-5 py-5 flex flex-col items-center gap-[1.5rem] text-[rgb(255,255,255)] overflow-hidden">
    <div class="flex items-center justify-center text-[2.3rem] w-full text-center"><b>Worked Companies</b></div>
    <div class="gap-10 flex max-w-[15rem] sm:max-w-[33rem] xl:max-w-[50rem] overflow-auto">
        <div class="h-[15rem] min-w-[15rem] bg-green-400 rounded-full"></div>
        <div class="h-[15rem] min-w-[15rem] bg-green-400 rounded-full"></div>
        <div class="h-[15rem] min-w-[15rem] bg-green-400 rounded-full"></div>
    </div>
</div>