<div class="flex w-full bg-custom_gradient justify-center">
    <div class="h-[auto] w-[100vw] max-w-screen-3xl bg-custom_gradient">
        <app-header></app-header>
        <app-banner></app-banner>
        <app-livesub page="portfolio"></app-livesub>
        <app-show-reel></app-show-reel>
        <recent-works-component></recent-works-component>
        <app-worked-companies></app-worked-companies> 
        <contact-us-component info="Me"></contact-us-component>
        <app-footer></app-footer>
    </div>
</div>