<div class="w-full flex bg-custom_gradient justify-center overflow-auto">
    <div class="h-[auto] w-[100vw] max-w-screen-3xl">

        <app-header></app-header>
        <app-banner></app-banner> 
        <app-about-me></app-about-me>
        <app-my-skills></app-my-skills>
        <app-show-reel></app-show-reel>
        <recent-works-component></recent-works-component>
        <app-poster-works></app-poster-works>
        <!-- <app-livesub page="portfolio"></app-livesub>
        <app-worked-companies></app-worked-companies>  -->
        <contact-us-component info="Let's work together!"></contact-us-component>
        <app-footer></app-footer>

    </div>
</div>